@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: hsl(45 37.5% 93.7255%);
    --foreground: hsl(30 7.3171% 16.0784%);
    --card: hsl(43.3333 34.6154% 89.8039%);
    --card-foreground: hsl(30 7.3171% 16.0784%);
    --popover: hsl(45 37.5% 93.7255%);
    --popover-foreground: hsl(30 7.3171% 16.0784%);
    --primary: hsl(0 51.0417% 37.6471%);
    --primary-foreground: hsl(45 37.5% 93.7255%);
    --secondary: hsl(174.8571 29.4118% 23.3333%);
    --secondary-foreground: hsl(45 37.5% 93.7255%);
    --muted: hsl(43.4483 31.8681% 82.1569%);
    --muted-foreground: hsl(36.9231 7.6023% 33.5294%);
    --accent: hsl(34.2857 43.75% 68.6275%);
    --accent-foreground: hsl(30 7.3171% 16.0784%);
    --destructive: hsl(5.0526 62.9139% 29.6078%);
    --destructive-foreground: hsl(45 37.5% 93.7255%);
    --border: hsl(42.6316 28.3582% 73.7255%);
    --input: hsl(42 42.8571% 86.2745%);
    --ring: hsl(0 51.0417% 37.6471%);
    --chart-1: hsl(0 51.0417% 37.6471%);
    --chart-2: hsl(174.8571 29.4118% 23.3333%);
    --chart-3: hsl(34.2857 43.75% 68.6275%);
    --chart-4: hsl(82 38.961% 30.1961%);
    --chart-5: hsl(25 75.9494% 30.9804%);
    --sidebar: hsl(42 42.8571% 86.2745%);
    --sidebar-foreground: hsl(30 7.3171% 16.0784%);
    --sidebar-primary: hsl(0 51.0417% 37.6471%);
    --sidebar-primary-foreground: hsl(45 37.5% 93.7255%);
    --sidebar-accent: hsl(34.2857 43.75% 68.6275%);
    --sidebar-accent-foreground: hsl(30 7.3171% 16.0784%);
    --sidebar-border: hsl(42.6316 28.3582% 73.7255%);
    --sidebar-ring: hsl(0 51.0417% 37.6471%);
    --font-sans: "Georgia", serif;
    --font-serif: "Georgia", serif;
    --font-mono: "Courier New", monospace;
    --radius: 0.25rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: hsl(36 10.6383% 9.2157%);
    --foreground: hsl(42 42.8571% 86.2745%);
    --card: hsl(34.2857 10.7692% 12.7451%);
    --card-foreground: hsl(42 42.8571% 86.2745%);
    --popover: hsl(36 10.6383% 9.2157%);
    --popover-foreground: hsl(42 42.8571% 86.2745%);
    --primary: hsl(5.5385 58.5586% 43.5294%);
    --primary-foreground: hsl(36 10.6383% 9.2157%);
    --secondary: hsl(174.6667 26.6272% 33.1373%);
    --secondary-foreground: hsl(42 42.8571% 86.2745%);
    --muted: hsl(34.2857 8.4337% 16.2745%);
    --muted-foreground: hsl(40.8 11.9617% 59.0196%);
    --accent: hsl(174.6667 26.6272% 33.1373%);
    --accent-foreground: hsl(42 42.8571% 86.2745%);
    --destructive: hsl(5.3097 63.1285% 35.098%);
    --destructive-foreground: hsl(42 42.8571% 86.2745%);
    --border: hsl(36.9231 11.9266% 21.3725%);
    --input: hsl(34.2857 10.7692% 12.7451%);
    --ring: hsl(5.5385 58.5586% 43.5294%);
    --chart-1: hsl(5.5385 58.5586% 43.5294%);
    --chart-2: hsl(174.6667 26.6272% 33.1373%);
    --chart-3: hsl(30 33.871% 48.6275%);
    --chart-4: hsl(79.6262 60.452% 34.7059%);
    --chart-5: hsl(29.5775 58.6777% 52.549%);
    --sidebar: hsl(30 10.5263% 7.451%);
    --sidebar-foreground: hsl(42 42.8571% 86.2745%);
    --sidebar-primary: hsl(5.5385 58.5586% 43.5294%);
    --sidebar-primary-foreground: hsl(36 10.6383% 9.2157%);
    --sidebar-accent: hsl(174.6667 26.6272% 33.1373%);
    --sidebar-accent-foreground: hsl(42 42.8571% 86.2745%);
    --sidebar-border: hsl(36.9231 11.9266% 21.3725%);
    --sidebar-ring: hsl(5.5385 58.5586% 43.5294%);
    --font-sans: "Georgia", serif;
    --font-serif: "Georgia", serif;
    --font-mono: "Courier New", monospace;
    --radius: 0.25rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.2);
    --shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.2);
    --shadow-sm: 0 1px 8px 0px hsl(0 0% 0% / 0.4), 0 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow: 0 1px 8px 0px hsl(0 0% 0% / 0.4), 0 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow-md: 0 1px 8px 0px hsl(0 0% 0% / 0.4), 0 2px 4px -1px hsl(0 0% 0% / 0.4);
    --shadow-lg: 0 1px 8px 0px hsl(0 0% 0% / 0.4), 0 4px 6px -1px hsl(0 0% 0% / 0.4);
    --shadow-xl: 0 1px 8px 0px hsl(0 0% 0% / 0.4), 0 8px 10px -1px hsl(0 0% 0% / 0.4);
    --shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 1);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    button {
        @apply cursor-pointer;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 80%;
    }
}
